<div class="row my-row-standard">
    <div class="col-xs-3">
        <a href="#/movies" class="btn btn-block btn-lg btn-default">Back to movies</a>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-3">
        <a href="#/movies/add" class="btn btn-block btn-lg btn-primary">
            Add another movie
        </a>
    </div>
</div>

<p class="lead">New movie was successfully added</p>

<div class="row my-row-standard">
    <div class="col-xs-3">
        <div class="tile tile-movie">
            <img src="{{movie.image.thumbUrl}}" alt="{{movie.name}}" class="tile-image big-illustration">

            <h3 class="tile-title">{{movie.name | characters:21:true}}</h3>
            <!-- <p>100% convertable to HTML/CSS layout.</p> -->
            <a class="btn btn-info btn-large btn-block" href="#/movies/edit/{{movie.id}}">Edit</a>
        </div>
    </div>
</div>